h2::before,
h3::before,
h4::before {
  content: "";
  display: inline-block;
  background-image: url("/icons/icon-48x48.png");
  width: var(--icon-size);
  height: var(--icon-size);
  background-size: var(--icon-size);
  margin-right: calc(36px - var(--icon-size));
}

h2::before {
  --icon-size: 24px;
}

h3::before {
  --icon-size: 20px;
}

h4::before {
  --icon-size: 16px;
}

.siteName::before {
  display: none;
}

h3 a {
  text-decoration: none;
}

h4 {
  font-style: italic;
}

code:not(.vscode-highlight-code) {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 3px 4px;
  margin: 0 2px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #ccc, #fff);
  margin: 2.4rem 0;
}
