:root {  
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-30: 30px;
  --font-size-36: 36px;
  --font-size-48: 48px;
  --font-size-60: 60px;
  --font-size-72: 72px;

  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-48: 48px;
  --spacing-64: 64px;
  --spacing-96: 96px;
  --spacing-128: 128px;
  --spacing-192: 192px;
  --spacing-256: 256px;
  --spacing-384: 384px;
  --spacing-512: 512px;
  --spacing-640: 640px;
  --spacing-768: 768px;

  --main-width: var(--spacing-640);

  --font-family-text: Roboto, Arial, sans-serif;
  --font-family-code: "Fira Mono", "Courier New", monospace;

  /* B&W */
  --color-accent: #888;
  --color-dark: #333;
  --color-link: #3c77ba;
  --color-top: linear-gradient(to right, var(--color-accent), #000);

  --color-accent: #3F7FB9;
  --color-dark: #1B366D;
  --color-link: #3F7FB9;
  --color-top: linear-gradient(to right, var(--color-accent), var(--color-dark));

  /* --color-accent: #7374C7;
  --color-dark: #543DA8;
  --color-link: #7374C7;
  --color-top: linear-gradient(to right, var(--color-accent), var(--color-dark)); */

  /* --color-accent: #4785D4;
  --color-dark: #4D5C85;
  --color-link: #4785D4;
  --color-top: linear-gradient(to right, var(--color-accent), var(--color-dark)); */
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-family-text);
  font-size: var(--font-size-18);
  line-height: 1.6;
}

h2::before,
h3::before,
h4::before {
  --icon-size: 0.75em;
  content: "";
  display: inline-block;
  background-image: url("/icons/icon-48x48.png");
  width: var(--icon-size);
  height: var(--icon-size);
  background-size: var(--icon-size);
  margin-left: calc(0px - var(--spacing-12) - var(--icon-size));
  margin-right: var(--spacing-12);
}

@media (max-width: 784px) {
  h2::before,
  h3::before,
  h4::before {
    margin-right: calc(1.5rem - var(--icon-size));
    margin-left: 0;
  }
}

ul {
  padding-left: 2rem;
}

a {
  text-decoration: none;  
  color: var(--color-link);
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  line-height: 1.1;
  color: var(--color-dark);
}

ul, ol, p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: var(--font-size-36);
  font-size: var(--font-size-48);
  font-weight: 700;
  margin-top: 3em;
  margin-bottom: 3em;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: var(--font-size-30);
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

h2 > a {
  text-decoration: none;
}

h3 {
  font-size: var(--font-size-24);
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: var(--font-size-18);
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h2 + *, h3 + *, h4 + * {
  margin-top: 0;
}

code {
  font-family: var(--font-family-code);
  font-size: var(--font-size-14);
}

code:not(.vscode-highlight-code) {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 2px 4px;
  margin: 0 2px;
  font-size: var(--font-size-16);
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #ccc, #fff);
  margin: 2.5rem 0;
}

@media (max-width: 688px) {
  .vscode-highlight {
    margin-left: -24px;
    margin-right: -24px;

    --vscode-highlight-border-radius: 0;
  }
}
